* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  /* font-weight: 10; */
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 7rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  /* z-index: 10; */
}

.min-link {
  display: none;
}

/*Styling logo*/
.logo {
  padding-left: 5px;
  margin-top: -34px;
  text-align: center;
}

.logo img {
  height: 9.7rem;
  width: 13rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 80vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: gray;
  font-size: small;
  font-family: 'Oswald';
}

.nav-links li a:hover {
  color: #ECBC4C;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ECBC4C;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}



/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #808080;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.pad {
  padding-top: 140px !important;
}

.artist-profile img {
  display: flex;
  width: 150px;
  height: 150px;
  padding: 10px;
  /* ====glassmorphism===== */
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 50%;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.artist-profile a {
  text-decoration: none;
}

.artist-profile span {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: small;
  padding-left: 40px;
  font-weight: 500;
}

.ab {
  padding-left: 50px !important;
}

/* fonts    */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}
p,b,span{
  font-family: 'Nunito'!important;
}

.artist-name {
  font-family: 'Edu TAS Beginner', cursive;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/* footer  */
section {
  display: grid;
  /* grid-template-rows: 1fr 10rem auto; */
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  /* background: #194381; */
  min-height: 320px;
  font-family: "Open Sans", sans-serif;
}

section .footer {
  z-index: 1;
  --footer-background: #000;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

section .footer .bubbles {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

section .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

section .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

section .footer .content a,
section .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}

section .footer .content b {
  color: white;
}

.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

section .footer .content>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .footer .content>div>div {
  margin: 0.25rem 0;
}

section .footer .content>div>div>* {
  margin-right: 0.5rem;
}

section .footer .content>div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {

  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {

  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}

@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }

  100% {
    bottom: var(--distance, 10rem);
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }

  100% {
    bottom: var(--distance, 10rem);
  }
}

.fa-twitter:hover {
  color: #2c7bcf;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #F502C8;
}

.fa-facebook:hover {
  color: #4867AA;
}

.fa-whatsapp:hover {
  color: #008069;
}

/* contact form  */
.contact-btn {
  background: #ECBC4C;
  color: gray;
  /* color: white; */
  border-radius: 0.3rem;
  width: 150px;
  margin: auto;
  font-size: large;
  font-family: 'Varela Round', sans-serif;
}

.contact-btn:hover {
  background: none;
  color: #ECBC4C;
  border: 2px solid #ECBC4C;

}

.contact-text {
  font-size: 15px;
}

.form-control::placeholder {
  font-size: small;
  font-family: Oswald;
}


/* video page  */
.video-box {
  display: block;
}

.video-img a,
img {
  width: 150px;
  height: 130px;
}

.video-text a {
  text-decoration: none;
  color: #000;
}

.video-text p {
  font-size: small;
}

/* artist video page  */
.video-poster {
  width: 370px !important;
  height: 340px;
  padding-top: 15px;
}

.video-describtion p {
  padding-top: 12px;
}

.embeded-video iframe {
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.button-download {
  margin-left: 35% !important;
  text-decoration: none;
  color: gray;
  background-color: #131418;
  padding: 10px 10px;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: 'Georama';
  margin: 5px 0px;
  display: inline-block;
  vertical-align: middle;
}

.button-download:hover {
  color: gray;
  background-color: #29292c;
}

.downloand-click span {
  padding-left: 425px;
}

.button-song {
  text-decoration: none;
  color: gray;
  background-color: #131418;
  padding: 10px 10px;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: 'Georama';
  margin: 5px 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 342px !important;
  font-family: 'Georama';
}


/* music page  */
.music-poster {
  width: 500px !important;
  height: 440px;
  padding-top: 15px;
}

.music-stream audio {
  margin-left: 223px;

}
.music-btn{
  margin-left: 170px !important;
  text-decoration: none;
  color: gray;
  background-color: #131418;
  padding: 15px 10px;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: 'Georama';
  margin: 5px 0px;
  display: inline-block;
  vertical-align: middle;
}
.music-btn:hover{
  color: gray;
  background-color: #29292c;  
}

/* Media query */
@media screen and (max-width: 768px) {
  .artist {
    /* display: block; */
    position: absolute;
    right: 0px;
    padding-right: 50px;

  }

}

@media screen and (min-width: 801px) {
  .artist-profile span {
    padding-left: 15px;
  }
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0 !important;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s !important;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s !important;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s !important;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s !important;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s !important;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s !important;
    margin: 0;
  }

  li.fade {
    opacity: 1 !important;
  }

  .min-link {
    display: flex;
    list-style: none;
    width: 49vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding-top: 10px;
    margin-left: -35px;

  }

  .min-link li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: #808080;
    font-size: small;
    font-family: 'Oswald';
  }

  .min-link li a:hover {
    color: #ECBC4C;
  }

  .min-link li {
    position: relative;
  }

  .min-link li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ECBC4C;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
  }

  .min-link li a:hover::before {
    width: 80%;
  }

  .logo {
    margin-left: -55px;
    /* padding-top: 5px; */
  }

  .artist-profile span {
    padding-left: 15px;
  }

  .ab {
    padding-left: 50px !important;
  }
  .button-download {
    margin-left: 45px !important;
  }
  .downloand-click span {
    padding-left: 170px;
  }
  .button-song{
    margin-left: 80px !important;
  }
  .music-btn,.music-stream audio{
    margin-left: 30px !important;
  }
}
