.nav-btn1{
    background-color: rgb(122, 169, 60);
    color: #ffff;
    border-color: rgb(122, 169, 60);
}
button:hover{
    color: #ffff !important;
    background-color: rgb(122, 169, 60);
}
.nav-a {
  display: block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-a a:hover{
    color: white;
}
.btn0{
    color: #ff194f;
    background-color:#fff ;
    border-radius: 1.8rem;   
    width: 200px;
    padding: 1.4rem 2.9rem;
    margin-left: 20%;
    margin-top: 50px !important;

    
}

.btn0:hover{
    background-color: #ffff;
    color: #87ceeb; 
    
}
#follow{
    margin-top: 110px;
    font-size: x-large;
    font-weight:bolder;
    color:rgb(255, 23, 79);
    word-spacing: 1px;
}
.follow{
    padding-top: 110px;
    color: rgb(66, 202, 243);
    font-weight: 300;
}
#rules{
    color: rgb(66, 202, 243) ;
    font-family: Segoe Print; 
    font-style: italic;  
}
.fs-11 {
    font-size: 3.3rem!important;
    padding-top: 25%;
    padding-left: 10%;
  }
  
#hello{
    line-height: inherit;
    color: #999999;
}
.btn1{
    color: white;
    background-color: #ff194f;
    border-radius: 1.8rem;   
    width: 200px;
    padding: 0.9rem 1.7rem;

    
}

.btn1:hover{
    border-color: #ff194f;
    background-color: #ffff;
    color: #ff194f !important; 
    
}
.melanie{
    background-image: linear-gradient(90deg,skyblue, 25%,aquamarine);
}
#fresh{
    background-image: linear-gradient(110deg, #FDA873, 25%, #FEC76C);
}
#members{
    background-image: linear-gradient(110deg, #42CAF5, 25%, #8EDEC0);
}

.btn-nav1:hover{
    color: #ffff;
    background-color:rgb(109, 161, 40);
}
.warning{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
    color: #fff;
}
.fresh{
    text-decoration: none;
    color: rgb(76, 76, 76);
}
.fresh:hover{
    color: #ff194f;
   
}
.fresh1{
    text-decoration: none;
    color: #000
}
.fresh1:hover{
    /* color: #ffff !important; */
    background-color: #ff194f !important; 
}
.para{
    padding-left: 155px;
}
.h0 {
    font-size: 3.5rem;
    padding-left: 70px;
  }
  .pencil{
    padding-left: 188px;
  }
  .list{
      padding-left: 210px;
  }

  .btn-lg1{
    padding: 0.9rem 1.7rem;
    font-size: 1.25rem;
    border-radius: 1.8rem; 
    color: #ff194f;
    background-color:#ffff ;
    border-color: #fff;
    width: 250px;
    margin-top: 42px;
    margin-left: 188px;
    margin-bottom: 150px;
  }
  .btn-lg1:hover{
    border-color: #ff194f !important;
    background-color:skyblue;
    color: #ff194f !important; 
    
}
.text-grey{
    /* color: #999999; */
    color: #666666;
}
/* .pic{
    cursor: pointer;
    filter: contrast(100%) brightness(40%);
    transition: filter 0.5s;

} */
.pic:hover{
    filter:  contrast(100%) brightness(40%);
    transition: filter 0.5s;
}
.btn2{
    color: white;
    background-color: #0DCAF0;
    border-radius: 1.8rem; 
    border-color: #0DCAF0 ;  
    width: 200px;
    padding: 0.9rem 1.7rem;

    
}

.btn2:hover{
    border-color: #0DCAF0;
    background-color: #ffff;
    color: #0DCAF0!important; 
    
}
.btn3{
    color:  #0DCAF0 !important;
    background-color: white;
    border-radius: 1.8rem; 
    border-color: #0DCAF0 ;  
    width: 200px;
    padding: 0.9rem 1.7rem;

    
}

.btn3:hover{
    border-color: #ff194f;
    background-color: #ffff;
    color: #ff194f !important; 
    
}

/* body{
    width: 99.2%;
} */
/* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */



  
/* .span{
    grid-row: span 2;
} */
